# Merging dataframes
- 5 types <br>
- inner: only rows which are present on both dataframes are kept<br>
- left: row which are present on both dataframes are kept along with lefover rows from left dataframe<br>
- right: row which are present on both dataframes are kept along with lefover rows from right dataframe<br>
- outer join/ full join:  row which are present on both dataframes are kept along with lefover rows from right and left dataframe<br>
- anti-join: rows which are present on both dataframes are removed, keeping only the left over rows from both dataframe

In [2]:
import pandas as pd

countries_covid = pd.read_csv('covid-19-main/countries-aggregated.csv')

In [6]:
countries_covid.head()

         Date      Country  Confirmed  Recovered  Deaths
0  2020-01-22  Afghanistan          0          0       0
1  2020-01-23  Afghanistan          0          0       0
2  2020-01-24  Afghanistan          0          0       0
3  2020-01-25  Afghanistan          0          0       0
4  2020-01-26  Afghanistan          0          0       0

In [4]:
countries_ref = pd.read_csv('covid-19-main/reference.csv')

In [5]:
countries_ref.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population
0,4,AF,AFG,4.0,NaN,NaN,NaN,Afghanistan,33.93911,67.709953,Afghanistan,38928341.0
1,8,AL,ALB,8.0,NaN,NaN,NaN,Albania,41.15330,20.168300,Albania,2877800.0
2,10,AQ,ATA,10.0,NaN,NaN,NaN,Antarctica,-71.94990,23.347000,Antarctica,NaN
3,12,DZ,DZA,12.0,NaN,NaN,NaN,Algeria,28.03390,1.659600,Algeria,43851043.0
4,20,AD,AND,20.0,NaN,NaN,NaN,Andorra,42.50630,1.521800,Andorra,77265.0

In [7]:
countries_ref

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population
0,4,AF,AFG,4.0,NaN,NaN,NaN,Afghanistan,33.939110,67.709953,Afghanistan,38928341.0
1,8,AL,ALB,8.0,NaN,NaN,NaN,Albania,41.153300,20.168300,Albania,2877800.0
2,10,AQ,ATA,10.0,NaN,NaN,NaN,Antarctica,-71.949900,23.347000,Antarctica,NaN
3,12,DZ,DZA,12.0,NaN,NaN,NaN,Algeria,28.033900,1.659600,Algeria,43851043.0
4,20,AD,AND,20.0,NaN,NaN,NaN,Andorra,42.506300,1.521800,Andorra,77265.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4311,84056037,US,USA,840.0,56037.0,Sweetwater,Wyoming,US,41.659439,-108.882788,"Sweetwater, Wyoming, US",42343.0
4312,84056039,US,USA,840.0,56039.0,Teton,Wyoming,US,43.935225,-110.589080,"Teton, Wyoming, US",23464.0
4313,84056041,US,USA,840.0,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,"Uinta, Wyoming, US",20226.0
4314,84056043,US,USA,840.0,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,"Washakie, Wyoming, US",7805.0
4315,84056045,US,USA,840.0,56045.0,Weston,Wyoming,US,43.839612,-104.567488,"Weston, Wyoming, US",6927.0

In [8]:
countries_ref_no_states = countries_ref[countries_ref['Province_State'].isna()]

In [9]:
countries_ref_no_states

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population
0,4,AF,AFG,4.0,NaN,NaN,NaN,Afghanistan,33.939110,67.709953,Afghanistan,3.892834e+07
1,8,AL,ALB,8.0,NaN,NaN,NaN,Albania,41.153300,20.168300,Albania,2.877800e+06
2,10,AQ,ATA,10.0,NaN,NaN,NaN,Antarctica,-71.949900,23.347000,Antarctica,NaN
3,12,DZ,DZA,12.0,NaN,NaN,NaN,Algeria,28.033900,1.659600,Algeria,4.385104e+07
4,20,AD,AND,20.0,NaN,NaN,NaN,Andorra,42.506300,1.521800,Andorra,7.726500e+04
...,...,...,...,...,...,...,...,...,...,...,...,...
848,716,ZW,ZWE,716.0,NaN,NaN,NaN,Zimbabwe,-19.015438,29.154857,Zimbabwe,1.486293e+07
849,36,AU,AUS,36.0,NaN,NaN,NaN,Australia,-25.000000,133.000000,Australia,2.545970e+07
858,124,CA,CAN,124.0,NaN,NaN,NaN,Canada,60.000000,-95.000000,Canada,3.824611e+07
875,156,CN,CHN,156.0,NaN,NaN,NaN,China,35.861700,104.195450,China,1.411779e+09
910,840,US,USA,840.0,NaN,NaN,NaN,US,40.000000,-100.000000,US,3.294663e+08

In [12]:
countries_ref_no_states = countries_ref_no_states.rename(columns = {"Country_Region" : "Country"})

In [13]:
countries_ref_no_states

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country,Lat,Long_,Combined_Key,Population
0,4,AF,AFG,4.0,NaN,NaN,NaN,Afghanistan,33.939110,67.709953,Afghanistan,3.892834e+07
1,8,AL,ALB,8.0,NaN,NaN,NaN,Albania,41.153300,20.168300,Albania,2.877800e+06
2,10,AQ,ATA,10.0,NaN,NaN,NaN,Antarctica,-71.949900,23.347000,Antarctica,NaN
3,12,DZ,DZA,12.0,NaN,NaN,NaN,Algeria,28.033900,1.659600,Algeria,4.385104e+07
4,20,AD,AND,20.0,NaN,NaN,NaN,Andorra,42.506300,1.521800,Andorra,7.726500e+04
...,...,...,...,...,...,...,...,...,...,...,...,...
848,716,ZW,ZWE,716.0,NaN,NaN,NaN,Zimbabwe,-19.015438,29.154857,Zimbabwe,1.486293e+07
849,36,AU,AUS,36.0,NaN,NaN,NaN,Australia,-25.000000,133.000000,Australia,2.545970e+07
858,124,CA,CAN,124.0,NaN,NaN,NaN,Canada,60.000000,-95.000000,Canada,3.824611e+07
875,156,CN,CHN,156.0,NaN,NaN,NaN,China,35.861700,104.195450,China,1.411779e+09
910,840,US,USA,840.0,NaN,NaN,NaN,US,40.000000,-100.000000,US,3.294663e+08

In [14]:
countries_covid.merge(countries_ref_no_states[['Population' , 'Country']])

              Date      Country  Confirmed  Recovered  Deaths  Population
0       2020-01-22  Afghanistan          0          0       0  38928341.0
1       2020-01-23  Afghanistan          0          0       0  38928341.0
2       2020-01-24  Afghanistan          0          0       0  38928341.0
3       2020-01-25  Afghanistan          0          0       0  38928341.0
4       2020-01-26  Afghanistan          0          0       0  38928341.0
...            ...          ...        ...        ...     ...         ...
161563  2022-04-12     Zimbabwe     247094          0    5460  14862927.0
161564  2022-04-13     Zimbabwe     247160          0    5460  14862927.0
161565  2022-04-14     Zimbabwe     247208          0    5462  14862927.0
161566  2022-04-15     Zimbabwe     247237          0    5462  14862927.0
161567  2022-04-16     Zimbabwe     247237          0    5462  14862927.0

[161568 rows x 6 columns]

# Again for another dataset

In [29]:
countries_covid_split = pd.read_csv('covid-19-main/countries-aggregated.csv')

In [30]:
countries_covid_split = countries_covid_split.query("(Country == 'Afghanistan')")

In [31]:
countries_covid_split

           Date      Country  Confirmed  Recovered  Deaths
0    2020-01-22  Afghanistan          0          0       0
1    2020-01-23  Afghanistan          0          0       0
2    2020-01-24  Afghanistan          0          0       0
3    2020-01-25  Afghanistan          0          0       0
4    2020-01-26  Afghanistan          0          0       0
..          ...          ...        ...        ...     ...
811  2022-04-12  Afghanistan     178257          0    7676
812  2022-04-13  Afghanistan     178295          0    7676
813  2022-04-14  Afghanistan     178352          0    7676
814  2022-04-15  Afghanistan     178373          0    7676
815  2022-04-16  Afghanistan     178387          0    7676

[816 rows x 5 columns]

In [32]:
countries_covid_split.merge(countries_ref_no_states)

,Date,Country,Confirmed,Recovered,Deaths,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Lat,Long_,Combined_Key,Population
0,2020-01-22,Afghanistan,0,0,0,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
1,2020-01-23,Afghanistan,0,0,0,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
2,2020-01-24,Afghanistan,0,0,0,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
3,2020-01-25,Afghanistan,0,0,0,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
4,2020-01-26,Afghanistan,0,0,0,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,2022-04-12,Afghanistan,178257,0,7676,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
812,2022-04-13,Afghanistan,178295,0,7676,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
813,2022-04-14,Afghanistan,178352,0,7676,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
814,2022-04-15,Afghanistan,178373,0,7676,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
815,2022-04-16,Afghanistan,178387,0,7676,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0

In [33]:
countries_covid_split.merge(countries_ref_no_states , how = "inner")

,Date,Country,Confirmed,Recovered,Deaths,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Lat,Long_,Combined_Key,Population
0,2020-01-22,Afghanistan,0,0,0,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
1,2020-01-23,Afghanistan,0,0,0,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
2,2020-01-24,Afghanistan,0,0,0,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
3,2020-01-25,Afghanistan,0,0,0,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
4,2020-01-26,Afghanistan,0,0,0,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,2022-04-12,Afghanistan,178257,0,7676,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
812,2022-04-13,Afghanistan,178295,0,7676,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
813,2022-04-14,Afghanistan,178352,0,7676,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
814,2022-04-15,Afghanistan,178373,0,7676,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
815,2022-04-16,Afghanistan,178387,0,7676,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0

In [34]:
countries_covid_split.merge(countries_ref_no_states , how = "left")

,Date,Country,Confirmed,Recovered,Deaths,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Lat,Long_,Combined_Key,Population
0,2020-01-22,Afghanistan,0,0,0,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
1,2020-01-23,Afghanistan,0,0,0,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
2,2020-01-24,Afghanistan,0,0,0,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
3,2020-01-25,Afghanistan,0,0,0,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
4,2020-01-26,Afghanistan,0,0,0,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,2022-04-12,Afghanistan,178257,0,7676,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
812,2022-04-13,Afghanistan,178295,0,7676,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
813,2022-04-14,Afghanistan,178352,0,7676,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
814,2022-04-15,Afghanistan,178373,0,7676,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0
815,2022-04-16,Afghanistan,178387,0,7676,4,AF,AFG,4.0,NaN,NaN,NaN,33.93911,67.709953,Afghanistan,38928341.0

In [37]:
countries_covid_split.merge(countries_ref_no_states , how = "outer")

,Date,Country,Confirmed,Recovered,Deaths,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Lat,Long_,Combined_Key,Population
0,2020-01-22,Afghanistan,0.0,0.0,0.0,4,AF,AFG,4.0,NaN,NaN,NaN,33.939110,67.709953,Afghanistan,3.892834e+07
1,2020-01-23,Afghanistan,0.0,0.0,0.0,4,AF,AFG,4.0,NaN,NaN,NaN,33.939110,67.709953,Afghanistan,3.892834e+07
2,2020-01-24,Afghanistan,0.0,0.0,0.0,4,AF,AFG,4.0,NaN,NaN,NaN,33.939110,67.709953,Afghanistan,3.892834e+07
3,2020-01-25,Afghanistan,0.0,0.0,0.0,4,AF,AFG,4.0,NaN,NaN,NaN,33.939110,67.709953,Afghanistan,3.892834e+07
4,2020-01-26,Afghanistan,0.0,0.0,0.0,4,AF,AFG,4.0,NaN,NaN,NaN,33.939110,67.709953,Afghanistan,3.892834e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1009,NaN,Zimbabwe,NaN,NaN,NaN,716,ZW,ZWE,716.0,NaN,NaN,NaN,-19.015438,29.154857,Zimbabwe,1.486293e+07
1010,NaN,Australia,NaN,NaN,NaN,36,AU,AUS,36.0,NaN,NaN,NaN,-25.000000,133.000000,Australia,2.545970e+07
1011,NaN,Canada,NaN,NaN,NaN,124,CA,CAN,124.0,NaN,NaN,NaN,60.000000,-95.000000,Canada,3.824611e+07
1012,NaN,China,NaN,NaN,NaN,156,CN,CHN,156.0,NaN,NaN,NaN,35.861700,104.195450,China,1.411779e+09
1013,NaN,US,NaN,NaN,NaN,840,US,USA,840.0,NaN,NaN,NaN,40.000000,-100.000000,US,3.294663e+08